    {% extends 'core/base.html' %}
    {% load static %}

    {% block content %}
    <!-- Cabecera -->
       <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about.jpg' %}"alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">Tradición familiar italiana</span>
                  <span class="section-heading-lower">Nuestra historia</span>
                </h2>
                <p> En la hermosa ciudad de Córdoba, Argentina, se erige "L'Autentico Caffè d'Italia - La Caffettiera", una cafetería que lleva consigo la esencia y el encanto de la tradición italiana. Fundada por la apasionada barista Isabella, quien emigró de Italia en busca de un nuevo comienzo, la cafetería se convirtió en un verdadero pedazo de Italia en tierras cordobesas.

Isabella trajo consigo no solo las recetas y técnicas ancestrales de preparación del café italiano, sino también la calidez y el espíritu acogedor que caracterizan a las auténticas cafeterías de las plazas italianas. Abriendo las puertas de "La Caffettiera" en el bullicioso barrio de Güemes en 1985, Isabella rápidamente conquistó los corazones de los cordobeses con sus aromas irresistibles y su hospitalidad genuina.

Desde el principio, "La Caffettiera" se convirtió en un lugar de encuentro para los amantes del café y aquellos que buscaban una experiencia verdaderamente italiana. La decoración cálida y acogedora, con detalles que evocan la campiña italiana, transporta a los clientes a un rincón del viejo país, lejos de las calles de Córdoba.

La cafetería se hizo conocida por su selección exclusiva de granos de café importados directamente de las regiones cafetaleras de Italia. Isabella, apodada "La Maestra del Espresso", se dedicó a perfeccionar cada taza, asegurándose de que cada cliente experimentara la auténtica explosión de sabores que solo un espresso italiano puede ofrecer.

A lo largo de los años, "La Caffettiera" se convirtió en un lugar donde se celebraba la cultura italiana en todas sus formas. Eventos de música, exposiciones de arte y clases de cocina italiana se volvieron habituales, creando una comunidad vibrante y diversa alrededor de la cafetería.

Hoy en día, bajo la dirección de la familia de Isabella, "L'Autentico Caffè d'Italia - La Caffettiera" sigue siendo un rincón especial en Córdoba. Cada taza de café lleva consigo la pasión y el legado de la tradición italiana, haciendo de la cafetería un verdadero tesoro donde los cordobeses pueden disfrutar de un pedacito de Italia en su propia ciudad.</p>


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    {% endblock %}



